<div id="change-password-modal" class="p-fixed top-0 left-0 w-full h-full bg-c-black:+10 z-101 d-flex a-items-center j-content-center bg-alpha-50">
    <div class="bg-c-white pa-6 rounded-md w-full max-w-96">
        <h2 class="text-110 text-w-semibold mb-6">Change Password</h2>
        <form id="frm_change_password" class="d-flex flex-col gap-4">
            <div class="d-flex flex-col">
                <label for="current_password" class="d-flex">
                    <span>Current Password</span>
                </label>
                <input name="current_password" id="current_password" type="password" 
                       mix-check="{{ x.REGEX_USER_PASSWORD }}"
                       focus="outline-1 outline-c-tealblue:-6 outline-o-0.5">
            </div>
            
            <div class="d-flex flex-col">
                <label for="new_password" class="d-flex">
                    <span>New Password</span>
                    <span class="ml-auto text-c-gray:+25">8 to 50 chars</span>
                </label>
                <input name="new_password" id="new_password" type="password" 
                       mix-check="{{ x.REGEX_USER_PASSWORD }}"
                       focus="outline-1 outline-c-tealblue:-6 outline-o-0.5" 
                       mix-error="Must be 8 to 50 characters">
            </div>
            
            <div class="d-flex flex-col">
                <label for="confirm_new_password" class="d-flex">
                    <span>Confirm New Password</span>
                </label>
                <input name="confirm_new_password" id="confirm_new_password" type="password"
                       focus="outline-1 outline-c-tealblue:-6 outline-o-0.5" >
            </div>
            
            <div id="password-change-error" class="text-c-red:-6"></div>
            
            <div class="d-flex gap-2 j-content-end mt-2">
                <button onclick="document.querySelector('#change-password-modal').remove()"
                        class="bg-c-gray:+46 text-c-black py-3 px-5 rounded-sm cursor-pointer"
                        hover="bg-c-gray:+40"
                        focus="outline-1 outline-c-tealblue:-6 outline-o-0.5">
                    Cancel
                </button>
                <button mix-put="/users/change-password/{{ user['user_pk'] }}"
                        mix-data="#frm_change_password"
                        mix-default="Update Password"
                        mix-await="Updating..."
                        class="text-c-white bg-c-tealblue:-5 cursor-pointer py-3 px-5 rounded-sm flex-grow"
                        hover="bg-c-tealblue:-8"
                        focus="outline-1 outline-c-tealblue:-6 outline-o-0.5">
                    Update Password
                </button>
                               
            </div>
        </form>
    </div>
</div>