<div id="delete-modal" class="p-fixed inset-0 bg-c-black:+10 bg-alpha-60 d-flex a-items-center j-content-center z-101 h-full ts-500">
  <div class="bg-c-white rounded-md pa-6 max-w-96 w-full mx-4">
    <h2 class="text-110 text-w-semibold mb-6">Confirm Account Deletion</h2>
    <form id="frm_account_delete" novalidate>
      <div class="mb-4">
        <label class="mb-4 d-block" for="password">
            Please enter your password to confirm deletion
        </label>
        <input 
          type="password" 
          name="password" 
          id="password"
          placeholder="Enter your password"
          mix-check="{{ x.REGEX_USER_PASSWORD }}"
          mix-error="Incorrect password"
          class="w-full p-2 border rounded"
          focus="outline-1 outline-c-tealblue:-6"
          required
        >
        <div id="delete-modal-error"></div>
      </div>
      
      <div class="d-flex j-content-end gap-2 mt-6">
        <button 
          type="button"
          class="px-4 py-2 border rounded cursor-pointer bg-c-white:-6"
          hover="bg-c-white:-16"
          focus="outline-1 outline-c-tealblue:-6 outline-o-0.5"
          onclick="this.closest('#delete-modal').remove()"
        >
          Cancel
        </button>
        <button 
          class="px-4 py-2 bg-c-red:-12 text-c-white rounded cursor-pointer"
          hover="bg-c-red:-16"
          focus="outline-1 outline-c-tealblue:-6 outline-o-0.5"
          mix-post="/users/confirm-delete/{{user_pk}}"
          mix-data="#frm_account_delete"
          mix-default="Delete account"
          mix-await="Deleting..."
        >
          Delete account
        </button>
      </div>
    </form>
  </div>
</div>