<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mixhtml.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="{{url_for('static', filename='app.js')}}" defer></script>
    <script src="https://unpkg.com/mojocss"></script>
    <title>Company</title>
</head>
<body class="w-full h-fullvh d-flex flex-col text-c-gray:-16">
    <header class="bg-c-white px-6 py-5 mb-6 shadow-sm">
        <nav class="d-flex j-content-between a-items-center w-full max-w-1200 mx-auto">
            <!-- Logo -->
            <div class="text-c-black text-bold text-xl">
                <a href="/" class="no-u-hover text-c-black">Company</a>
            </div>
            

            <!-- Avatar and Logout -->
            <div class="d-flex a-items-center gap-4">
                {% if "admin" in user.get("roles", "") %}
                    <a href="/admin" class="text-c-tealblue:-6 py-2 px-1">Dashboard</a>
                {% endif %}
                <a href="profile" class="d-flex a-items-center">
                    <img src="{{ url_for('static', filename='avatars/' + user['user_avatar']) if user['user_avatar'] else url_for('static', filename='avatars/default_avatar.webp') }}" alt="User Avatar" class="w-12 h-12 rounded-full">
                </a>
                <form method="POST" action="{{ url_for('logout') }}">
                    <button class="text-c-white bg-c-tealblue:-5 cursor-pointer px-5" hover="bg-c-tealblue:-8">
                        Logout
                    </button>
                </form>
            </div>
        </nav>
    </header>

    <div id="toast" class="d-flex flex-col j-content-center p-fixed w-full top-4 z-10"></div>
</body>
</html>
