{% include "_top.html" %}

<main class="mx-4 mb-16" md="mx-6" lg="mx-8">

    <section class="mx-auto max-w-100 pb-16" sm="mt-8" md="d-flex flex-col h-full j-content-center">
        <h1 class="mb-2">Login</h1>
        <p >Don't have an account? <a href="{{url_for('view_signup')}}" class="text-c-black text-d-underline text-c-inherit" hover="text-c-tealblue:-6" focus="outline-1 outline-c-tealblue:-6">Signup</a></p>
            {% if message %}    
                <p class="text-c-green text-110 text-w-semibold">
                    {{ message }}
                </p>
                {% if msg == 'verify_email' and email %}
                    <button 
                        mix-get="/resend-verification/{{ email }}"
                        class="text-c-inherit text-d-underline bg-transparent cursor-pointer a-self-start pa-0 h-min-content mb-4"
                        hover="text-c-tealblue:-6"
                    >
                        Resend email
                    </button>
                {% endif %}
            {% endif %}
        <form id="frm_user_login" class="d-flex flex-col gap-4 mt-2 mb-4">

            <div class="d-flex flex-col">
                <label for="user_email">
                    <span>E-mail</span>
                </label>
                <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}" focus="outline-1 outline-c-tealblue:-6">
            </div>
    
            <div class="d-flex flex-col">
                <label for="user_password" class="d-flex">
                    <span>Password</span>
                    <span class="ml-auto text-c-gray:+25">{{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }} chars</span>
                </label>
                <input name="user_password" id="user_password" type="password" mix-check="{{ x.REGEX_USER_PASSWORD }}" focus="outline-1 outline-c-tealblue:-6">
            </div>
            <button mix-post="/login" mix-data="#frm_user_login" class="text-c-white bg-c-tealblue:-5 cursor-pointer py-3 px-5 rounded-sm" hover="bg-c-tealblue:-8" focus="outline-1 outline-c-tealblue:-6">
                Login
            </button>
    
    
        </form>
        <a href="{{url_for('view_forgot_password')}}" class="max-w-max-content a-self-end text-c-inherit" hover="text-c-tealblue:-6" focus="outline-1 outline-c-tealblue:-6">Forgot password?</a>
    </section>

</main>

{% include "_bottom.html" %}
