{% include "_top.html" %} 

<main class="mx-4 mb-16" md="mx-6" lg="mx-8">

    <section class="mx-auto max-w-100 pb-16" sm="mt-8" md="d-flex flex-col h-full j-content-center">
        <h1 class="mb-2">Choose new password</h1>
        <p class="mb-8">Type in your email address and we'll send you an email with a link to change your password.</p>
        <form id="frm_user_forgot_password" class="d-flex flex-col gap-4 ">    
            <div class="d-flex flex-col">
                <label for="user_email">
                    <span>E-mail</span>
                </label>
                <input name="user_email" id="user_email" type="text" mix-check="{{ x.REGEX_EMAIL }}" focus="outline-1 outline-c-tealblue:-6 outline-o-0.5">
            </div>
            <p id="new_password_status" class="d-none"></p>
            <button mix-post="/passwordrecovery" mix-data="#frm_user_forgot_password" mix-default="Send email" mix-await="Sending..." class="text-c-white bg-c-tealblue:-5 cursor-pointer py-3 px-5 rounded-sm" hover="bg-c-tealblue:-8" focus="outline-1 outline-c-tealblue:-6 outline-o-0.5">
                Send email
            </button>
        </form>
    </section>

</main>

{% include "_bottom.html" %}
