{% include "_top.html" %}
<main class="mx-4 mb-16" md="mx-6" lg="mx-8">
  <!-- Tab Navigation -->
  <div class="tab-container d-flex j-content-center mb-6 gap-4">
    <button class="tab-button px-4 py-4 text-c-tealblue:-5 cursor-pointer bg-c-transparent" data-tab="discover">
      Discover
    </button>
    <button class="tab-button px-8 py-4  cursor-pointer bg-c-transparent" data-tab="restaurants">
      Restaurants
    </button>
  </div>


  <!-- Tab Content -->
  <div class="tab-container">
    <div id="discover" class="tab-content">
      <h1 class="mb-8 text-w-bold">Restaurants near you</h1>

      <div id="map" class="w-full min-h-50vh z-1"></div>
    </div>

    <div id="restaurants" class="tab-content d-none">
      <h1 class="mb-8 text-w-bold">Restaurants - Copenhagen</h1>
      <div class="restaurant-container">
        {% for coord in coords %}
        <a href="restaurant/{{coord['restaurant_fk']}}">
          <div
            class="rounded-sm shadow-md d-flex a-items-center mb-3 p-4 hover:bg-c-gray:-1 transition-all"
          >
            <img
              src="{{ url_for('static', filename='avatars/' + coord['user_avatar']) if coord['user_avatar'] else url_for('static', filename='avatars/profile_1.jpg') }}"
              alt="User Avatar"
              class="w-24 h-24 rounded-sm border-2"
            />
            <section class="ml-4 text-a-left">
              <h2 class="text-c-tealblue:-5">{{ coord["user_name"] }}</h2>
              {% set has_address = coord.street or coord.house_number or
              coord.postcode or coord.city %} {% if has_address %}
              <p class="text-c-gray:-14">
                {% if coord.street or coord.house_number %} {{ coord.street }}{%
                if coord.house_number %} {% endif %}{{ coord.house_number }}{%
                if coord.postcode or coord.city %},{% endif %} {% endif %} {% if
                coord.postcode or coord.city %} {{ coord.postcode }} {{
                coord.city }} {% endif %}
              </p>
              {% else %}
              <p class="text-c-gray:-14">Address not available</p>
              {% endif %}
            </section>
          </div>
        </a>
        {% endfor %}
      </div>

      <!-- Pagination Controls -->
      <div class="d-flex j-content-center a-items-center mt-5 gap-4">
        {% if prev_page %}
        <a
          href="?page={{ prev_page }}"
          class="px-6 py-3 bg-c-tealblue:-5 hover:bg-c-tealblue:-8 text-c-white rounded-md"
        >
          Previous
        </a>
        {% endif %} {% if next_page %}
        <a
          href="?page={{ next_page }}"
          class="px-6 py-3 bg-c-tealblue:-5 hover:bg-c-tealblue:-8 text-c-white rounded-md"
        >
          Next
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</main>
{% include "_bottom_index.html" %}
