{% if user %}
    {% include "_top_logged.html" %}
{% else %}
    {% include "_top.html" %}
{% endif %}


<main class="w-full d-flex">
    <div id="map" class="w-full h-100vh"></div>
    
    <div id="items" class="w-full h-100vh">
        <button class="px-20 py-4 rounded-sm"
            mix-get="/items/page/1"
        >
            More
        </button>
        <p> {{ user }}</p>
        <p>{{ coords }}</p>
    
    </div>
</main>
<script>
    console.log({{ coords }})
</script>

{% include "_bottom.html" %}
