
{% include "_top.html" %} 
<main class="mx-4" md="mx-6" lg="mx-8">
    <div class="d-flex flex-col">
        <h1 class="mb-8">Admin Dashboard</h1>
        <div class="d-grid cols-2 mb-4">
            <button onclick="showTab('users-tab')" class="px-6 py-2 rounded-(0) rounded-l-md cursor-pointer text-110 bg-c-white:-8 text-c-charocoal">
                Users
            </button>
            <button onclick="showTab('items-tab')" class="px-6 py-2 rounded-(0) rounded-r-md cursor-pointer text-110 bg-c-white:-8 text-c-charocoal">
                Items
            </button>
        </div>
        <div class="mt-8">
            <section id="users-tab" class="d-flex flex-col" >
                    <h2 class="d-none" md="d-block">All users</h2>
                    <section class="rounded-sm ">
                        <div class="py-5 px-6 a-content-center p-content-center bg-c-charocoal:-4 text-c-white:-6 border-b-1 text-110 rounded-t-md" md="d-grid cols-5 gap-2 ">
                            <h2 class="text-w-medium mb-0" md="d-none">All users</h2>
                            <div class="flex-1 text-w-medium d-none" md="d-block">First Name</div>
                            <div class="flex-1 text-w-medium d-none" md="d-block">Email</div>
                        </div>
                        <div id="users">
                            {% for user in users %}
                                <article id="u{{ user['user_pk'] }}" class="px-4  py-3 a-content-center p-content-center min-h-14 bg-c-white:-8
                                    {% if loop.index is odd %}bg-c-white:-2{% endif %}" sm="d-flex j-content-between" md="d-grid cols-5 gap-2 py-2 px-6">
                                    
                                    <div md="d-grid cols-2 col-2 gap-2">
                                        <div class="py-1 flex-1 text-sm a-content-center text-140 text-w-semibold" md="text-100 text-w-normal">
                                            {{ user["user_name"] }}
                                        </div>
                                        <a class="py-1 flex-1 text-sm a-content-center text-100 text-c-blue:+6" hover="text-c-blue:+16" href="mailto:{{user ['user_email']}}">
                                            {{ user["user_email"] }}
                                        </a>
                                    </div>
                                   <div id="actions-{{user['user_pk']}}" class="d-flex a-items-center gap-2"  sm="j-content-end col-2" md="col-3">
                                        {% if user["user_deleted_at"] == 0 %}
                                            {% if user["user_blocked_at"] == 0 %}
                                                {% include "___btn_block_user.html" %}
                                            {% else %}
                                                {% include "___btn_unblock_user.html" %}
                                            {% endif %}
                                        {% endif %}
            
                                        {% if user["user_deleted_at"] == 0 %}
                                            <button class="bg-none px-3 rounded-sm cursor-pointer text-100 mt-2" sm="mt-0" hover="bg-c-white:-14 {% if loop.index is odd %}bg-c-white:-6{% endif %}"
                                                title="Delete User" mix-get="/users/delete/{{user['user_pk']}}">
                                                Delete user
                                            </button>
                                        {% else %}
                                            {% set user_deleted_at = time.localtime(user['user_deleted_at'])|strftime('%A, %d %B %Y') %}
                                            <div class="d-flex a-items-center text-100 text-c-red:-14">Deleted: {{ user_deleted_at }}</div>
                                        {% endif %}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                   </section>
            </section>
            <section id="items-tab" class="d-none flex-col">
                    <h2 class="d-none" md="d-block">All items</h2>
                    <section class="rounded-sm ">
                        <div class=" px-6 py-5 a-content-center p-content-center bg-c-charocoal:-4 text-c-white:-6 border-b-1 text-110 rounded-t-md" md="d-grid cols-5 gap-2">
                            <h2 class="text-w-medium mb-0" md="d-none">All items</h2>
                            <div class="text-w-medium d-none" md="d-block">Item</div>
                            <div class="text-w-medium d-none" md="d-block">Restaurant</div>
                            <div class="text-w-medium d-none" md="d-block">Price</div>
                        </div>
                        <div id="items">
                            {% for item in items %}
                                <article id="u{{ item['item_pk'] }}" class="px-4  py-3 a-content-center p-content-center min-h-14 bg-c-white:-8
                                    {% if loop.index is odd %}bg-c-white:-2{% endif %}" sm="d-flex j-content-between" md="d-grid cols-5 gap-2 py-2 px-6">
                                   <div md="d-grid cols-3 col-3 gap-2">
                                        <div class="py-1 flex-1 text-sm a-content-center text-140 text-w-semibold" md="text-100 text-w-normal">
                                            {{ item["item_title"] }}
                                        </div>
                                        <div class="py-1 flex-1 text-sm a-content-center text-100">
                                            <span md="d-none">Restaurant: </span>{{ item["restaurant_name"] }}
                                        </div>
                                        <div class="py-1 flex-1 text-sm a-content-center text-100 text-c-tealblue:-8 text-w-semibold">
                                            DKK {{ item["item_price"] }}
                                        </div>
                                   </div>
                                   <div id="actions-{{item['item_pk']}}" class="d-flex a-items-center gap-2" sm="j-content-end col-2" md="col-2">
                                        {% if item["item_deleted_at"] == 0 %}
                                            {% if item["item_blocked_at"] == 0 %}
                                                {% include "___btn_block_item.html" %}
                                            {% else %}
                                                {% include "___btn_unblock_item.html" %}
                                            {% endif %}
                                        {% endif %}
            
                                        {% if item["item_deleted_at"] == 0 %}
                                            <button class="bg-none px-3 rounded-sm cursor-pointer text-100 mt-2" sm="mt-0" hover="bg-c-white:-14 {% if loop.index is odd %}bg-c-white:-6{% endif %}"
                                                title="Delete Item" mix-get="/items/delete/{{item['item_pk']}}">
                                                Delete item
                                            </button>
                                        {% else %}
                                            {% set item_deleted_at = time.localtime(item['item_deleted_at'])|strftime('%A, %d %B %Y') %}
                                            <div class="d-flex a-items-center text-100 text-c-red:-14">Deleted: {{ item_deleted_at }}</div>
                                        {% endif %}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                   </section>
            </section>
        </div>
    </div>
</main>
 
<script>
function showTab(tabId) {
    console.log("test tabs")
    // Hide all tabs
    document.getElementById('users-tab').classList.add("d-none");
    document.getElementById('items-tab').classList.add("d-none");
    
    // Show selected tab
    document.getElementById(tabId).classList.add('d-flex') ;
    document.getElementById(tabId).classList.remove('d-none');
    
    // Update active tab button styling
    const buttons = document.querySelectorAll('.tab-button');
    document.querySelectorAll('button[onclick^="showTab"]').forEach(btn => {
       btn.classList.remove('bg-c-tealblue:-6', 'text-w-semibold', 'text-c-white:-6');
    });
    document.querySelector(`button[onclick*="${tabId}"]`).classList.add('bg-c-tealblue:-6', 'text-w-semibold', 'text-c-white:-6');

}

// Show users tab by default
showTab('users-tab');
</script>

 {% include "_bottom.html" %}